<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>

<!-- Not sure why this code block is throwing an error? Need to look into it 🤷🏼‍♂️ -->
<!-- <h2>{{ hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{ hero.id }}</div>
<div>
  <label for="name">Hero name:</label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
</div> -->

<!-- 👇🏻 This code is no longer needed because it is the "parent" code and we have created a seperate "child" code below that does the same thing and is connected to the hero-detail component 👇🏻
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div> -->
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>
